* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-header {
    background-color: #383434;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .logo {
    width: 50px; 
}

.top-header .company-name {
    font-weight: normal; 
    font-size: 1.5em; 
}

header {
    background-color: #383434;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
}

.contact-info {
    background-color: #ddd;
    padding: 40px;                                /* Increased padding for better spacing */
    margin: 20px auto;                            /* Centered with more space around */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);      /* Adding shadow for depth */
    border-radius: 8px;
    max-width: 600px;                             /* Maximum width to control spacing on larger screens */
    text-align: left;
}

.contact-info h2 {
    font-weight: bold;      /* Normal font weight */
    margin-bottom: 20px;    /* Increased bottom margin for spacing */
}

.contact-info h3, .contact-info p {
    margin-bottom: 20px;    /* Increased bottom margin for spacing */
}

.contact-info a {
    text-decoration: none;  /* Remove underline */
    color: #007BFF;       /* Example link color */
    margin-bottom: 10px;    /* Spacing between links */
}

.contact-info a:hover {
    text-decoration: underline; /* Underline on hover */
}

footer {
    background-color: #383434;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    header nav a {
        padding: 10px;
    }

    .contact-info {
        margin: 20px;
        max-width: 90%;         /* Adjusted max-width for mobile */
    }
}
